@import url('https://fonts.googleapis.com/css2?family=K2D:wght@100&family=Kanit:ital,wght@0,300;1,200&display=swap');

body {
  margin: 0;
  font-family: 'Kanit', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
