.main-layout {
    min-height: 80vh;
}

.footer {
    height: 60px;
    color: #fff;
}

.pagination li {
    border: 1px solid #aaaa;
    height: 40px;
    width: 40px;
    margin-right: 5px;
    text-align: center;
    padding-top: 2px;
    font-size: 18px;

}

.pagination li a {
    color: #000000;
}
.pagination  .active {
    background-color: #562;
    
}